In [1]:
import pandas as pd

In [2]:
pd.DataFrame(
    {
        'YES':[50,20],
        'NO': [131,20]
    }
)

   YES   NO
0   50  131
1   20   20

In [3]:
pd.DataFrame(
    {
        'BOB':['I Liked it','It was awful'],
        'Sue':['Pretty good','Bland']
    }
)

            BOB          Sue
0    I Liked it  Pretty good
1  It was awful        Bland

In [4]:
pd.DataFrame(
    {
        'Bob':['ayam','air just'],
        'Ahmad':['satay','air lemon']
    },
    index=['Makanan','Minuman']
)

              Bob      Ahmad
Makanan      ayam      satay
Minuman  air just  air lemon

In [6]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
pd.Series(
    [5,10,15],
    index=['2015 Sales','2016 Sales','2017 Sales'],
    name='Product A'
)

2015 Sales     5
2016 Sales    10
2017 Sales    15
Name: Product A, dtype: int64

In [6]:
#READ CSV Files
# import pandas as pd

wine_file = 'winemag-data-130k-v2.csv'
wine_data = pd.read_csv(wile_file)

NameError: name 'wile_file' is not defined